<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->


    <bean class="org.spring.example.Address"
          id="studentAddress">
        <property name="postalCode" value="860047"/>
        <property name="houseNo" value="11"/>
        <property name="city" value="newyork"/>
    </bean>

    <!-- Injecting one object in another through REF tag -->
    <bean class="org.spring.example.Student"
          id="studentID">
        <property name="name" value="Triveni"/>
        <property name="id" value="1161"/>
        <property name="address" ref="studentAddress"/>
    </bean>

</beans>