<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->


    <bean class="org.spring.example.Address"
          id="studentAddress">
        <constructor-arg value="860047"/>
        <constructor-arg value="newyork"/>
        <constructor-arg  value="11"/>
    </bean>

    <!-- Injecting one object in another through REF tag -->
    <bean class="org.spring.example.Student"
          id="studentID">
        <constructor-arg  value="1161"/>
        <constructor-arg value="Triveni"/>
        <constructor-arg  ref="studentAddress"/>
    </bean>

</beans>